@import "tailwindcss";


@font-face {
  font-family: "Nocturn";
  src: url("/fonts/Nocturn-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nocturn";
  src: url("/fonts/Nocturn-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nocturn";
  src: url("/fonts/Nocturn-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}